@font-face {
    font-family: 'Ropa Sans';
    src: local('Ropa Sans'), url('./fonts/RopaSans-Regular.ttf') format('truetype');
  }

.startButton {
    font-family: 'Ropa Sans';
    font-size: 90px;
    height: 500px;
    width: 1000px;
    color: white;
    border-radius: 50%;
    background-image: radial-gradient(circle, #FF00D6E6, #8F00FFE6);
    border: none;
    animation: endless-in infinite 2s ease-in-out;
    cursor: pointer;
    margin-top: 500px;
}
  
@keyframes endless-in {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}
  
.continueButton {
    font-family: 'Ropa Sans';
    font-size: 82px;
    height: 150px;
    width: 450px;
    color: white;
    background-color: black;
    border: 10px #FF00D6 solid;
    border-radius: 20px;
    cursor: pointer;
}

.continueButton:active {
    transform: scale(0.98);
}

.completeButton {
    font-family: 'Ropa Sans';
    font-size: 82px;
    height: 150px;
    width: 450px;
    color: white;
    background-color: black;
    border: 10px #FF00D6 solid;
    border-radius: 20px;
    cursor: pointer;
}

.completeButton:active {
    transform: scale(0.98);
}

.backButton {
    background-image: url("./icons/BackButton.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 2.6vh;
    width: 2.6vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.backButton:active {
    transform: scale(0.97);
}

.cancelButton {
    background-image: url("./icons/CancelButtonDark.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 2.6vh;
    width: 2.6vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cancelButton:active {
    transform: scale(0.97);
}

.infoIconDark {
    background-image: url("./icons/InfoButtonDark.png");
}

.infoIconLight {
    background-image: url("./icons/InfoButtonLight.png");
}

.infoButton {
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 2.6vh;
    width: 2.6vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.infoButton:active {
    transform: scale(0.97);
}

.answerOption {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Ropa Sans';
    height: 4.5vh;
    width: 74vw;
    color: white;
    background-color: #828282;
    border: 10px #828282 solid;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 50px;
    box-shadow: 0px 10px 10px #00000024;
}

.answerOptionSelected {
    border: 10px #FF8EED solid;
}

.answerOptionCheckBox {
    background-color: #828282;
    border: 7px solid white;
    height: 3.2vw;
    width: 3.2vw;
    margin-left: 50px;
    margin-right: 70px;
}

.answerOptionCheckBoxSelected {
    background-color: #FF8EED;
}

.answerOptionSolution {
    border: 10px #00FF66 solid;
}

.answerOptionCheckBoxSolution {
    background-color: #00FF66;
}


.androidPicker {
    background-image: url("./icons/AndroidPicker.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 18.32vh;
    width: 18.32vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.androidPicker:active {
    transform: scale(0.97);
}

.applePicker {
    background-image: url("./icons/ApplePicker.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 18.32vh;
    width: 18.32vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.applePicker:active {
    transform: scale(0.97);
}

.progressContainer {
    width: 100vw;
    height: 1.3vh;
    background-color: white;
    box-shadow: 0px 4px 4px #00000024;
}

.progressBar {
    height: 1.3vh;
    border-radius: 0px 30px 30px 0px;
    background-image: linear-gradient(to right, #8F00FFE6, #FF00D6E6); 
}

.infoWidget {
    background-image: linear-gradient(to bottom, #A9008E, #5F00AA); 
    border-radius: 30px;
    width: 77vw;
    height: 17vh;
    font-family: 'Ropa Sans';
    padding: 25px 50px 0px 50px;
    margin-top: 888px;
}

.infoWidgetContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoWidgetHeadline {
    font-size: 100px;
    color: white;
    margin-bottom: 30px;
}

.infoWidgetText {
    font-size: 70px;
    color: white;
    margin-bottom: 30px;
    margin-right: 40px;
}

.infoWidgetIcon {
    background-color: transparent;
    background-size: contain;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.wifiWarningView {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wifiWarning {
    background: white;
    color: black;
    width: 92.6vw;
    border-radius: 25px;
    padding-top: 20px;
}

.wifiWarningButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wifiWarningIcon {
    padding-right: 50px;
}

.wifiWarningContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
    padding-top: 100px;
}

.finalWidget {
    width: 74vw;
    height: 6.5vh;
    background-color: #828282;
    border-radius: 25px;
    display: flex;
}

.finalWidgetContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.finalWidgetIcon {
    height: 2.6vh;
    width: 2.6vh;
}

.finalWidgetText {
    font-family: 'Ropa Sans';
    font-size: 68px;
    color: white;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    object-fit: cover;
}

.entryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.infoOverlayScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #00000099;
    z-index: 100;
}

.infoOverlay {
    position: absolute;
    width: 50vw;
    height: 46.3vw;
    background-image: linear-gradient(to bottom, #8C0076, #380064); 
    border-radius: 25px;
    box-shadow: 0px 10px 10px #00000024;
}

.infoOverlayHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 20px 20px 0px 50px;
}

.infoOverlayCloseButton {
    background-image: url("./icons/CancelButtonLight.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 2.6vh;
    width: 2.6vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.infoOverlayHeadlineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
}

.infoOverlayHeadline {
    font-family: 'Ropa Sans';
    font-size: 82px;
    color: white;
}

.infoOverlayText {
    padding-left: 50px;
    font-family: 'Ropa Sans';
    font-size: 70px;
    color: white;
    margin-bottom: 50px;
}

/* Languange toggle switch */
.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}
  
.switch > span {
    position: absolute;
    font-family: 'Ropa Sans';
    top: 7px;
    pointer-events: none;
    font-size: 16px;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
}
  
input.check-toggle-round-flat:checked ~ .off {
    color: white;
}
  
input.check-toggle-round-flat:checked ~ .on {
    color: #B60099;
}
  
.switch > span.on {
    left: 0;
    padding-left: 2px;
    color: white;
}
  
.switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #B60099;
}
  
.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: black;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}
  
input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: black;
    -webkit-moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #B60099;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}
  
input.check-toggle-round-flat:checked + label:after {
    margin-left: 42px;
}





/* General Rules */
/* Font */
.headline {
    font-family: 'Ropa Sans';
    font-size: 100px;
}

.text {
    font-family: 'Ropa Sans';
    font-size: 90px;
}

.text-medium {
    font-family: 'Ropa Sans';
    font-size: 80px;
}

.text-small {
    font-family: 'Ropa Sans';
    font-size: 70px;
}

/* Spacing */
.mx-80 {
    margin-left: 80px;
    margin-right: 80px;
}

.mx-100 {
    margin-left: 100px;
    margin-right: 100px;
}

.mx-200 {
    margin-left: 200px;
    margin-right: 200px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.my-150 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-300 {
    margin-top: 300px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-150 {
    margin-bottom: 150px;
}

.px-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.px-100 {
    padding-left: 100px;
    padding-right: 100px;
}

.px-200 {
    padding-left: 200px;
    padding-right: 200px;
}



.leading {
    text-align: left;
}

.spacer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fullWidth {
    width: 100vw;
}