@font-face {
    font-family: 'Ropa Sans';
    src: local('Ropa Sans'), url('./fonts/RopaSans-Regular.ttf') format('truetype');
  }

.startButton {
    font-family: 'Ropa Sans';
    font-size: 90px;
    height: 500px;
    width: 1000px;
    color: white;
    border-radius: 50%;
    background-image: radial-gradient(circle, #FF00D6E6, #8F00FFE6);
    border: none;
    animation: endless-in infinite 2s ease-in-out;
    cursor: pointer;
}
  
@keyframes endless-in {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}
  
.continueButton {
    font-family: 'Ropa Sans';
    font-size: 82px;
    height: 150px;
    width: 450px;
    color: white;
    background-color: black;
    border: 10px #FF00D6 solid;
    border-radius: 20px;
    cursor: pointer;
}

.continueButton:active {
    transform: scale(0.98);
}

.backButton {
    background-image: url("./icons/BackButton.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 2.6vh;
    width: 2.6vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.backButton:active {
    transform: scale(0.97);
}

.cancelButton {
    background-image: url("./icons/CancelButton.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 2.6vh;
    width: 2.6vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cancelButton:active {
    transform: scale(0.97);
}

.infoButton {
    background-image: url("./icons/InfoButton.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 2.6vh;
    width: 2.6vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.infoButton:active {
    transform: scale(0.97);
}

.androidPicker {
    background-image: url("./icons/AndroidPicker.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 18.32vh;
    width: 18.32vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.androidPicker:active {
    transform: scale(0.97);
}

.applePicker {
    background-image: url("./icons/ApplePicker.png");
    background-color: transparent;
    background-size: contain;
    border: none;
    height: 18.32vh;
    width: 18.32vh;
    background-repeat: no-repeat;
    cursor: pointer;
}

.applePicker:active {
    transform: scale(0.97);
}

.progressContainer {
    width: 100vw;
    height: 1.3vh;
    background-color: white;
    box-shadow: 0px 4px 4px #00000024;
}

.progressBar {
    height: 1.3vh;
    border-radius: 0px 30px 30px 0px;
    background-image: linear-gradient(to right, #8F00FFE6, #FF00D6E6); 
}




/* Languange toggle switch */
.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}
  
.switch > span {
    position: absolute;
    font-family: 'Ropa Sans';
    top: 7px;
    pointer-events: none;
    font-size: 16px;
    text-transform: uppercase;
    width: 50%;
    text-align: center;
}
  
input.check-toggle-round-flat:checked ~ .off {
    color: white;
}
  
input.check-toggle-round-flat:checked ~ .on {
    color: #B60099;
}
  
.switch > span.on {
    left: 0;
    padding-left: 2px;
    color: white;
}
  
.switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #B60099;
}
  
.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: black;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}
  
input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: black;
    -webkit-moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #B60099;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}
  
input.check-toggle-round-flat:checked + label:after {
    margin-left: 42px;
}