@import './base.css';

@font-face {
  font-family: 'Ropa Sans';
  src: local('Ropa Sans'), url('./fonts/RopaSans-Regular.ttf') format('truetype');
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  background-size: cover;
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.continueButton {
  font-family: 'Ropa Sans';
  font-size: 82px;
  height: 150px;
  width: 450px;
  color: white;
  background-color: black;
  border: 10px #FF00D6 solid;
  border-radius: 20px;
}
